
:host {
  display: block;
  height: 100vh;
  background-color: #f6fafe;
}

.t-pro-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  background-size: 100% auto;
  background-image: url('/assets/img/background/img_log.png');
  background-repeat: repeat;
  background-position: center;

  ti-alert {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .t-pro-register-form {
    width: 450px;
    height: 620px;
    font-size: var(--ti-common-font-size-1);
    padding: 60px 40px;
    box-shadow: 0 0 2px 2px var(--ti-common-color-bg-normal);
    background: var(--ti-default-body-bg);

    .t-pro-register-logo-wrapper {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      .t-pro-register-logo {
        display: flex;
        align-items: center;
        justify-content: left;

        .t-pro-logo-tiny {
          img {
            width: 60px;
            height: 60px;
          }
        }

        .t-pro-text {
          color: var(--ti-base-color-common);
          font-size: 32px;
          margin-left: 50px;
          font-weight: 400;
          font-family: PingFangSC, PingFangSC-Regular;
        }
      }
    }

    .t-pro-register-wrapper {
      input {
        font-size: var(--ti-common-font-size-1);
        height: 32px;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &.t-pro-error:hover {
          border-color: var(--ti-common-color-error-border);
        }

        &.t-pro-error:focus {
          box-shadow: none;
        }

        &:hover {
          border-color: var(--ti-base-color-brand-6);
        }

        &:focus {
          box-shadow: 0 0 2px 2px var(--ti-common-color-bg-normal);
        }
      }

      .t-pro-submit-button {
        width: 100%;
        height: 40px;
        color: var(--ti-common-color-bg-white-normal);
        background-color: var(--ti-base-color-brand-6);
        border: none;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 32px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: var(--ti-base-color-common-3);
        }
      }

      .t-pro-other {
        height: 40px;
        margin-top: 20px;
        float: right;
        text-decoration: none;
        color: var(--ti-common-color-text-link);
      }
    }
  }

  .t-pro-language-wrapper {
    position: absolute;
    top: 22px;
    right: 28px;
    outline: none;
    cursor: pointer;
    padding: 0 12px;
    font-size: 20px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;

    .font-change {
      margin-left: 5px;
    }
  }

  t-pro-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
  }
}

.t-pro-register-wrapper ::ng-deep .ti3-form {
  width: 100%;
}
