 /*主题 基础变量定义*/
  :root {
    --ti-base-color-brand: #252b3a; /*主色蓝/下拉菜单、选块选中色*/
    --ti-base-color-brand-1: #252b3a; /*主色悬浮色/文字按钮、链接悬浮色*/
    --ti-base-color-brand-2: #252b3a; /*文字按钮颜色/链接颜色*/
    --ti-base-color-brand-3: #252b3a; /*深色背景下图标*/
    --ti-base-color-brand-4: #252b3a; /*深色背景链接色*/
    --ti-base-color-brand-5: #252b3a; /*选块悬浮色/深色背景链接悬浮色/提示边框色/开关组件“开”禁用背景色*/
    --ti-base-color-bg-3: #252b3a; /*主要按钮-背景色*/
    --ti-base-color-bg-4: #252b3a; /*主要按钮-hover/Focus背景色*/
    --ti-base-color-bg-5: #252b3a; /*主要按钮-active背景色*/
    --ti-button-group-text-color-hover: #fff;
  }
  