.t-pro-personalize-config {
  position: fixed;
  right: 30px;
  bottom: 70px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ti-base-color-brand-6);
  background-color: var(--ti-default-body-bg);
  box-shadow: var(--ti-common-shadow-3-down);
  z-index: 10;
  font-size: var(--ti-common-font-size-2);
}

@media screen and (min-width: 768px) {
  ::ng-deep .ti3-modal-dialog {
    width: 800px !important;
  }
}
