.flex-boxes-container {
  display: flex;
  flex-flow: row wrap;

  .flex-box {
    width: 368px;
    min-width: 200px;
    flex: 0 0 22%;
    margin-right: 12px;
    border: 1px solid #adb0b8;
    border-radius: 2px;
    cursor: pointer;

    &.image-box {
      flex: 0 0 200px;
      margin-bottom: 12px;
      position: relative;
      top: 0;
      left: 0;
    }

    &.color-card-active-border {
      border: 1px solid var(--ti-base-color-brand-6);
    }

    .detail-title {
      text-align: center;
      background-color: var(--ti-common-color-bg-light-normal);
      height: 52px;
      line-height: 52px;

      &.color-card-active-bg {
        background-color: var(--ti-base-color-brand-6);
        color: var(--ti-base-color-white);;
      }
    }

    .detail-block {
      padding: 20px;

      .detail-block-body {
        margin-bottom: 15px;

        .detail-item {
          margin-top: 12px;
          color: #252b3a;

          span {
            display: inline-block;

            &:first-child {
              width: 48%;
            }

            &:last-child {
              color: #575d6c;
              text-align: left;
            }
          }
        }
      }

      .color-text-secondary {
        color: #575d6c;
      }
    }

    .detail-block-default-dashed {
      border-bottom: 1px dashed #adb0b8;
      margin-bottom: 15px;
    }

    .detail-block-title {
      font-size: 18px;
    }
  }
}

.common-font-size-big4-1 {
  font-size: 24px;
}

.common-font-size-big2 {
  font-size: 12px;
}
