.t-pro-layout {
  min-height: 100%;
}

.t-pro-sidebar-tools {
  position: fixed;
  height: 36px;
  bottom: 50%;
  z-index: 10;

  .t-pro-sidebar-tools-list {
    display: flex;
    justify-content: flex-end;
  }

  .t-pro-sidebar-tools-item {
    position: relative;
    left: -20px;
    top: 20px;
    width: 16px;
    height: 36px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translate(100%, -50%);
    cursor: pointer;

    &:hover {
      color: #5e7ce0;
    }

    &::after {
      display: block;
      content: '';
      position: relative;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid var(--ti-common-color-icon-normal);
    }
  }
}

/* TODO: 阴影色确定 */
.t-pro-basic-layout-wrapper {
  min-height: 100%;
  background-color: #f6f8f9;

  & > t-pro-basic-layout {
    width: 0;
  }

  .t-pro-basic-layout-aside-wrapper {
    display: flex;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    z-index: 100;

    &.t-pro-basic-sidebar-top {
      z-index: 101;
    }

    &.t-pro-basic-layout-aside-fixed {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow-x: hidden;
    }

    .t-pro-layout-sidebar {
      background-color: var(--ti-base-color-white);
      border-right: 1px solid var(--ti-common-color-line-dividing);
    }

    &.t-pro-basic-no-sec-sidebar .t-pro-layout-sidebar {
      border-right: none;
    }

    .t-pro-layout-sec-sidebar {
      background-color: var(--ti-base-color-bg-6);
    }
  }

  .t-pro-basic-layout-header-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 100;
    box-shadow: 0 0 2px 2px var(--ti-common-color-bg-normal);

    &.t-pro-basic-layout-header-fixed {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
    }

    .t-pro-layout-header {
      background-color: var(--ti-base-color-white);
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    }

    &.t-pro-basic-no-sec-header .t-pro-layout-header {
      border-bottom: none;
    }

    .t-pro-layout-sec-header {
      background-color: var(--ti-base-color-white);
    }
  }

  .t-pro-basic-layout-footer-wrapper {
    background-color: var(--ti-base-color-white);
  }
}
