.basic-info-title {
  color: var(--ti-common-color-text-primary);
  font-size: var(--ti-common-font-size-1);
}

.basic-info-content {
  padding: var(--ti-common-space-4x) var(--ti-common-space-5x) var(--ti-common-space-4x) 0;
}

::ng-deep .ti3-form-label{
  font-size: 14px !important;
  text-align: end !important;
  width: 70px !important;
  color: #8a8e99 !important;
  padding-bottom: 10px !important;
}

::ng-deep .ti3-form-content{
  font-size: 14px;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

::ng-deep .ti3-form-label .ti3-text-form-label .ng-star-inserted{
  width: 100px;
}