

t-pro-layout-header {
  display: flex;
}

t-pro-layout-sidebar {
  display: flex;
  flex-direction: column;

  & > t-pro-side-menu,
  & > t-pro-navbar {
    flex: 1 1 0%;
    overflow: hidden auto;
    background-color: var(--ti-common-color-bg-white-normal);
  }

  & > t-pro-navbar {
    margin-top: 10px;
  }

  & > t-pro-header-logo {
    display: inline-block;
  }
}

.side-space {
  margin: 0 8px;
}


// 模态框公共样式
::ng-deep .ti3-modal-content {
  border-radius: 8px !important;
  box-shadow: 0px 0px 30px 15px rgba(37, 43, 58, .15) !important;
}
::ng-deep .ti3-alert-label {
  color: var(--ti-common-color-bg-light-normal) !important;
}