@import "src/app/@shared/styles/common.scss";

.service-list {
  @include t-pro-product-card;
}

.contracts {
  @include t-pro-product-card;
  border-radius: 8px;
  background: var(--ti-base-card-bg-color); 
  min-height: calc(100vh - 201px);
}

::ng-deep ti-modal-wrapper .modal-class-create {
  width: 589px;
  margin-top: 250px;
}

.alert {
  position: fixed;
  display: block;
  z-index: 1400;
  width: 400px;
  height: auto;
  left: 40%;
  top: 70px;
}
