.home-content-services {
  padding: 20px 20px 20px 0;
}

.my-resource-title {
  font-size: 14px;
  margin-left: 20px;
  color: var(--ti-common-color-text-primary);
  line-height: 20px;
  .title {
    font-size: 16px;
    color: var(--ti-common-color-text-primary);
    font-weight: bold;
  }
  .cloud-regionName {
    font-size: 12px;
    color: var(--ti-common-color-text-weaken);
    line-height: 20px;
  }
  .my-resources-view-resources-font-set {
    font-size: 14px;
    color: var(--ti-common-color-text-highlight);
    cursor: pointer;
    &:hover {
      color: var(--ti-common-color-text-link-hover);
    }
  }
}

.pull-right {
  float: right !important;
}

.my-resource-list {
  min-height: 40px;
  overflow-y: auto;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.pull-left {
  float: left !important;
}

.my-resource-instance-item {
  background-color: var(--ti-common-color-bg-light-normal);
  color: var(--ti-common-color-text-highlight);
  line-height: 46px;
  height: 46px;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    color: var(--ti-common-color-text-white);
    background-color: var(--ti-base-color-brand-4);
  }
  .my-resource-name-font-set {
    display: inline-block;
    padding-left: 20px;
    height: 46px;
    max-width: calc(100%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal !important;
    word-wrap: normal !important;
    font-size: 14px;
  }
  .my-resource-instance-number-position {
    float: right;
    right: 15px;
    margin-right: 15px;
    line-height: 38px;
    color: var(--ti-base-color-common-7);
    font-size: 18px;
  }
}

.my-resource-list-add {
  display: block;
  margin-top: 20px;
  width: calc(20% - 20px);
  min-width: 140px;
  .my-resource-list-button {
    height: 46px;
    width: 100%;
    margin-left: 20px;
    text-align: left;
    border: 1px solid #e9edfa;
    position: relative;
    background-color: var(--ti-common-color-bg-white-normal);
    .my-resource-list-button-icon {
      transition: color 0.15s;
      font-size: 15px;
      margin: 0 6px 0 14px;
      color: var(--ti-common-color-text-highlight);
    }
    .my-resource-name-font-set {
      font-size: 14px;
      position: relative;
      top: -2px;
      color: var(--ti-common-color-text-highlight);
    }
    .my-resource-list-button-text {
      position: absolute;
      top: 50px;
      left: 0px;
      color: var(--ti-common-color-text-highlight);
    }
  }
}

.column {
  margin-top: 20px;
  height: 46px;
  min-width: 160px;
  width: 20%;
}

.home-content-recent-service-new-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 30px 0 20px 20px;
  .home-content-service-new-text {
    font-size: 14px;
    color: var(--ti-common-color-text-primary);
    font-weight: bold;
  }
}

.home-content-recent-service-list-service {
  display: inline-block;
  padding: 16px 0 16px 20px;
  width: calc(20% - 20px);
  font-size: 14px;
  line-height: 14px;
  color: var(--ti-common-color-text-highlight);
  cursor: pointer;
  background: var(--ti-common-color-bg-light-normal);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 20px;
  min-width: 140px;

  &:hover {
    color: var(--ti-common-color-text-white);
    background-color: var(--ti-base-color-brand-4);
  }
}
