@import 'src/app/@shared/styles/common.scss';

.user-panel-head {
  position: relative;
  border-radius: 8px;
  background-image: url('../../../../../../assets/img/person-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 25px 22px 30px;
}

.user-info-head {
  float: left;
  cursor: pointer;
  background-image: url('../../../../../../assets/img/avatar.png');
  background-repeat: no-repeat;
  background-size: 52px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.user-info-name-and-auth {
  position: relative;
  margin-left: 48px;
  width: auto;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
}

.user-info-expense-center {
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 0px;
  display: inline-block;
  
  & > a {
    color: #fff !important;
    cursor: pointer;
  }
}

.user-info-name {
  margin: 4px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-info-status-ok {
  color: var(--ti-common-color-success);
}

.auth-status-style {
  position: relative;
  padding: 5px 10px 5px 20px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  height: 25px;

  .real-name {
    position: absolute;
    top: 4px;
    left: 88px;
    background-image: url('../../../../../../assets/img/real-name.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 76px;
  }

  > a {
    display: inline-block;
    width: 160px;
    color: #fff !important;
    margin-right: 8px;
    cursor: pointer;
  }

  a.auth-status-warn {
    color: var(--ti-common-color-error);
    text-decoration: underline;
  }
}

.hello-lable {
  color: #fff;
  margin-left: 20px;
  line-height: 24px;
  font-size: 14px;
}
