@import 'src/app/@shared/styles/common.scss';

.purchase-box {
    @include t-pro-product-card;
    padding: 40px 30px 10px;

    ::ng-deep .ti3-form .ti3-form-label {
        font-size: 14px !important;
    }
}

.buy-box {
    @include t-pro-product-card;
    margin-top: 20px;
    padding: 30px 30px;
}

::ng-deep .ti3-form .ti3-form-content {
    padding-bottom: 20px !important; 
}