@import 'src/app/@shared/styles/common.scss';

:host {
  ::ng-deep button.ti3-btn-item {
    font-size: 14px;
    width: 192px;
  }
}

.recommend-icon {
  color: #fa9841;
  display: inline-block;
  margin-right: 4px;
}
