@import 'src/app/@shared/styles/common.scss';

.resource-groups {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(169, 174, 184, 0.05);
  background: var(--ti-common-color-bg-white-normal);
}

.marketplace-content {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(169, 174, 184, 0.05);
  background: var(--ti-common-color-bg-white-normal);
}

.recommendation-ad {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(169, 174, 184, 0.05);
  background: var(--ti-common-color-bg-white-normal);
}
