@import 'src/app/@shared/styles/common.scss';

.resource-groups {
  border-radius: 8px;
  background: var(--ti-base-card-bg-color);
}

.marketplace-content {
  border-radius: 8px;
  background: var(--ti-base-card-bg-color);
}

.recommendation-ad {
  border-radius: 8px;
  background: var(--ti-base-card-bg-color);
}


