@import 'src/app/@shared/styles/common.scss';

.service-list {
  @include t-pro-product-card;
}

.obs-list {
  @include t-pro-product-card;
  border-radius: 8px;
  background: var(--ti-base-card-bg-color);
  min-height: calc(100vh - 265px);
}

.alert-head {
  margin-top: 20px;
  width: 100%;
  display: block;
}

::ng-deep .ti3-alert-prompt-container {
  border: none !important;
}