@import 'src/app/@shared/styles/common.scss';

.service-list {
  @include t-pro-product-card;
}

.obs-list {
  @include t-pro-product-card;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(169, 174, 184, 0.05);
  height: 720px;
}

.alert-head {
  margin-top: 20px;
  width: 100%;
  display: block;
}
