::ng-deep ti-halfmodalcontainer.ti3-halfmodal-layout-container {
  padding: 30px;
}

::ng-deep ti-icon.ti3-halfmodal-close {
  margin-right: 10px;
  z-index: 100;
}

::ng-deep ti-alert .ti3-alert-label.ti3-alert-only-label {
  text-indent: 2em;
  font-size: 14px;
  color: #e35349;
  line-height: 24px;
}

.t-pro-drawer-menu {
  position: relative;
  height: 95vh;

  .t-pro-options {
    display: flex;
    flex-direction: column;

    > h3 {
      padding: 10px 0 20px;
      color: #202e54;
      font-size: 18px;
      line-height: 25px;
    }
    &:nth-child(n + 2) {
      margin-top: 30px;
    }
    &:nth-child(3) {
      margin-top: 60px;
    }

    .t-pro-options-header {
      font-size: var(--ti-common-font-size-1);
      margin-bottom: 20px;

      > h4 {
        font-size: 14px;
        line-height: 20px;
        color: #202e54;
      }
    }

    .t-pro-option-items {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 16px;

      .t-pro-option-item {
        position: relative;
        width: 44px;
        height: 36px;
        background-color: var(--ti-common-color-bg-white-normal);
        box-shadow: var(--ti-common-shadow-2-down);
        margin-right: 42px;
        border-radius: var(--ti-common-border-radius-normal);
        cursor: pointer;

        .option-desc {
          width: 80px;
          margin-top: 47px;
          font-size: 14px;
          color: #86909c;
          line-height: 20px;
        }

        //导航栏
        &::before {
          background-color: var(--ti-common-color-bg-white-normal);
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 33%;
          height: 100%;
        }

        //头部区域
        &::after {
          background-color: var(--ti-common-color-bg-white-normal);
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 25%;
        }

        .icon-grey {
          position: absolute;
          right: -5px;
          top: -5px;
          z-index: 10;
          font-size: 14px;
          color: #dfe1e6;
        }

        .icon-green {
          position: absolute;
          right: -5px;
          top: -5px;
          z-index: 100;
          font-size: 14px;
          color: #7bd06c;
        }

        .icon-bg-white {
          display: inline-block;
          width: 10px;
          height: 10px;
          position: absolute;
          right: -3px;
          top: -3px;
          z-index: 1;
          border-radius: 50%;
          background-color: #fff;
        }
      }

      .t-pro-side-bar-layout-item {
        &::before {
          background-color: var(--ti-base-color-brand-6);
          height: 75%;
          top: 25%;
          content: '';
        }
      }

      .t-pro-topnav-layout-item {
        &::before {
          background-color: var(--ti-common-color-bg-white-normal);
        }
        &::after {
          background-color: var(--ti-base-color-brand-6);
        }
      }

      .t-pro-left-right-layout-item {
        &::before {
          z-index: 1;
          background-color: var(--ti-base-color-brand-6);
          content: '';
        }
      }
    }

    .t-pro-option-multiple {
      .t-pro-multiple-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-size: var(--ti-common-font-size-1);
      }
    }

    svg {
      width: 1em;
      height: 1em;
    }
  }

  & .t-pro-options:last-child {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }

  ti-alert {
    width: 100%;
  }

  ti-alert.copy-success-tips {
    position: absolute;
    z-index: 2;
  }
  .alert-copy {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 2;
  }

  button.ti3-btn-middle {
    margin-top: 12px;
  }
}
