.t-pro-personalize-title {
  .t-pro-title {
    color: var(--ti-base-color-common-7);
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}

.t-pro-personalize-config {
  padding: 8px 48px 0;

  .t-pro-list-title {
    font-size: 16px;
    font-weight: normal;
    color: var(--ti-base-color-common-7);
    line-height: 22px;
  }

  .content-space {
    margin: 40px 0 20px 0;
  }

  .t-pro-item {
    width: 436px;
    height: 64px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 3px rgba(85 ,105 ,173 ,.06); 
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--ti-base-color-white);
    position: relative;

    .t-pro-item-title {
      padding: 10px 0 0 20px;
    }

    .t-pro-item-content {
      padding: 3px 0 0 20px;
    }

    .t-pro-item-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--ti-base-color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 20px;
      bottom: 20px;

      .icon-green {
        color: #7bd06c;
      }

      > ti-svg {
        padding-top: 3px;
        font-size: 20px;
        color: #dfe1e6;
      }
    }
  }

  .t-pro-theme-box {
    display: flex;
    justify-content: space-between;
    width: 588px;
    .t-pro-theme-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 30px 0;
      width: 56px;
      height: 56px;
      border-radius: 8px;
      box-shadow: 2px 2px 15px 3px rgba(85 ,105 ,173 ,.06); 
      .t-pro-color {
        border-radius: 50%;
        width: 26px;
        height: 26px;

        > ti-svg {
          padding: 3px 0 0 3px;
          font-size: 20px;
          color: var(--ti-base-color-white);
        }
      }
    }
    .t-pro-dark {
      background: #676868;
    }
  }

}

::ng-deep ti-modal-wrapper .modal-class-personalize {
  width: 748px;
  height: 922px;
  margin-top: 60px;
}

::ng-deep .ti3-modal-body {
  max-height: none !important;
}
::ng-deep .ti3-modal-close {
  color: #8a8e99 !important;
}

@media only screen and (max-width: 1024px) {
  .t-pro-theme-colors {
    justify-content: space-between;
    .t-pro-color-avatar {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 300px) {
  .t-pro-color-avatar {
    width: 15px !important;
    height: 15px !important;
  }
}
