.t-pro-content-banner {
  padding: 20px 20px 13px 12px;

  &-title {
    font-size: 14px;
    font-family: PingFang SC, PingFang SC-PingFang SC;
    font-weight: normal;
    text-align: left;
    color: #4e5969;
    line-height: 14px;
  }
}

.t-pro-content-title {
  font-size: var(--ti-common-font-size-2);
  padding: 16px;
  border-bottom: 1px solid var(--ti-common-color-line-dividing);
}

.t-pro-content-card {
  overflow: hidden;
  background-color: var(--ti-common-color-bg-white-normal);
  border-radius: var(--ti-common-border-radius-1);
  box-shadow: var(--ti-common-shadow-1-down);
}

@mixin t-pro-product-card {
  padding: 20px 20px;
  box-shadow: 0px 0px 8px 8px rgba(169, 174, 184, 0.05);
  border-radius: 8px;
  background: var(--ti-common-color-bg-white-normal);
}

:host ::ng-deep .t-pro-base-tag-item {
  &.epic {
    color: var(--ti-common-color-text-gray);
    background-color: var(--ti-base-color-error-3);
  }

  &.High {
    color: var(--ti-common-color-text-gray);
    background-color: var(--ti-common-color-error-border);
  }

  &.Low {
    color: var(--ti-common-color-text-gray);
    background-color: var(--ti-base-color-warn-4);
  }

  &.Medium {
    color: var(--ti-common-color-text-gray);
    background-color: var(--ti-common-color-line-normal);
  }
}
