.t-pro-multi-settings {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  color: var(--ti-common-color-text-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
