.t-pro-personalize-config {
  position: fixed;
  right: 20px;
  bottom: 125px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;

  > img {
    height: 44px;
    width: 44px;
  }
}
