.input {
  width: 360px;
  height: 36px !important;
  font-size: 14px !important;
  margin-bottom: 15px;
}

.main-content {
  margin: 0 28px;
}

.ti3-form-label {
  font-size: 14px !important;
  padding-right: 49px !important;
}
.ti3-form-content{
  margin-left: 30px;
}
.name-format {
  width: 360px;
  color: #a9aeb8;
  font-size: var(--ti-common-font-size-base);
}

.description {
  width: 360px;
  height: 100px;
}

.ti3-textarea-container>textarea{
  font-size: 14px !important;
}

.modal-footer {
  height: 120px;
}

.bottom-buttons {
  button {
    width: 100px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
  }
  position: absolute;
  bottom: 60px;
  left: 164px;
}

.confirm-button {
  margin-right: 10px;
}
