@import 'src/app/@shared/styles/common.scss';

:host {
  ::ng-deep button.ti3-btn-item.ti3-btn-item-radio {
    padding: 0 20px;
    font-size: 14px;
  }
}

.buttongroup-discount-icon {
  background-color: #fa9841;
  border-radius: 2px;
}

.auto-reneualfee {
  margin-top: 18px;

  .reneualfee-explain {
    line-height: 14px;
    font-size: 14px;
    margin-left: 4px;
    color: #8a8e99;
  }
}

.help-tip {
  display: inline-block;
  vertical-align: middle;
}

.purchase-count {
  margin-top: 20px;
}

.unit-tai {
  line-height: 28px;
  height: 28px;
  margin-left: 10px;
  font-size: 14px;
}
