.content-services {
  margin-top: 20px;
  padding: 20px 20px 10px 0;
  position: relative;

  .marketplace-content-services {
    overflow: hidden;

    .marketplace-title {
      margin-bottom: 20px;
      font-size: 16px;
      margin-left: 20px;
      line-height: 20px;
      color: var(--ti-base-color-common-7);
      font-weight: bold;

      .access-font-set {
        line-height: 20px;
        font-size: 14px;
        color: var(--ti-common-color-text-highlight);
        font-weight: normal;
        cursor: pointer;

        &:hover {
          color: var(--ti-common-color-text-link-hover);
        }
      }

      .pull-right {
        float: right !important;
      }
    }

    .marketplace-list {
      .column {
        margin-bottom: 20px;
        width: 25%;
        float: left;

        .marketplace-instance-item {
          background-color: var(--ti-common-color-bg-light-normal);
          color: var(--ti-common-color-text-highlight);
          line-height: 46px;
          height: 46px;
          cursor: pointer;
          margin-left: 20px;

          .marketplace-name-font-set {
            padding-left: 25px;
            height: 46px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: normal;
            font-size: 14px;
            &:hover {
              background-color: var(--ti-base-color-brand-4);
              color: var(--ti-common-color-text-white);
            }
          }
        }
      }
    }
  }

  .marketplace-cate {
    display: flex;
    flex-wrap: wrap;

    .cate-card {
      width: 25%;
      margin-bottom: 20px;

      .cate-content {
        width: calc(100% - 20px);
        margin-left: 20px;
        height: 68px;
        border: 1px solid #e9edfa;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--ti-base-color-brand-5);
        }

        .cate-svg {
          position: absolute;
          top: var(--ti-common-space-4x);
          left: 27px;
        }

        .cate-title,
        .cate-sub-title {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
          max-width: calc(100% - 88px);
        }

        .cate-title {
          position: absolute;
          top: 12px;
          left: 80px;
        }

        .cate-sub-title {
          position: absolute;
          top: var(--ti-common-space-8x);
          color: #aaa;
          font-size: 14px;
          line-height: 22px;
          left: 80px;
        }
      }
    }
  }

  .nav {
    position: absolute;
    right: var(--ti-common-space-10x);
    top: 30px;
    font-size: var(--ti-common-space-3x);
  }
}
