.list-content {
  padding: 20px 9px 0 0;
  background: var(--ti-base-card-bg-color) !important;
}

.current-modal-container {
  display: flex;
  font-size: 14px;
  input {
    width: 360px;
    height: 36px !important;
    margin-bottom: 10px;
  }
  label {
    color: red;
  }
  button {
    width: 100px;
    height: 34px;
    border-radius: 4px;
    margin-right: 28px;
    margin-top: 10px;
  }
}

.delete-warning-icon {
  font-size: 35px;
  color: #faad14;
  margin: -1px 40px 0px 22px;
}

.delete-warning {
  font-size: 24px;
  color: var(--ti-common-color-text-primary);
}

.constract-name{
  font-size: 16px;
  color: #4e5969;
  margin: 20px 0;
}

.input-prompt{
  margin: 10px 0;
  color: #4e5969;;
}

.input-alert{
  height: 20px;
  color: red;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
  }
  ti-icon {
    font-size: 20px;
    vertical-align: middle;
  }
}

.loadPosition {
  height: 430px;
  margin-left: 36%;
  margin-top: 10%;
  text-align: center;
  position: absolute;
}

::ng-deep ti-modal-wrapper .delete-modal-class {
  width: 558px;
  margin-top: 250px;
}

a {
  color: var(--ti-base-link-a-color) !important;
}

::ng-deep .ti3-action-menu-item {
  color: var(--ti-base-link-a-color) !important;
}

::ng-deep .ti3-action-menu-item {
  color: var(--ti-base-link-a-color) !important;
}

::ng-deep .ti3-table>table>thead>tr>th:not(:last-child):after {
  background: var(--ti-base-table-border-color) !important;
}

::ng-deep .ti3-table>table>tbody>tr>td {
  border-bottom-color: var(--ti-base-table-border-bottom-color) !important;
  color: var(--ti-base-table-text-color) !important;
}

::ng-deep .ti3-table>table>thead>tr>th {
  border-bottom-color: var(--ti-base-table-border-bottom-color) !important;
}

::ng-deep .ti3-table>table>tbody>tr {
  background: var(--ti-base-card-bg-color) !important;
}