.side-annoucement-container {
  font-size: 12px;
  padding: 20px 20px 13px 15px;
  margin-top: 20px;
  border-radius: 8px;
  background: var(--ti-base-card-bg-color);
  width: 100%;

  .side-annoucement-title {
    height: 20px;
    margin-bottom: 30px;
    line-height: 20px;
    position: relative;

    .title {
      font-size: 16px;
      color: var(--ti-base-notice-content-color);
      font-weight: bold;
      padding-left: 6px;
    }

    .side-links {
      position: absolute;
      right: 0px;
      font-size: 14px;
      cursor: pointer;
      text-decoration: none;
      color: var(--ti-base-notice-content-color);
      &:hover {
        color: var(--ti-base-notice-content-color);
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }

  .side-href {
    display: block;
    color: var(--ti-common-color-text-primary);
    word-break: keep-all;
    height: 14px;
    margin-bottom: 24px;
    line-height: 14px;
    font-size: 14px;
    font-family: PingFang SC, PingFang SC-PingFang SC;
    font-weight: normal;

    span:first-of-type {
      float: left;
      color: var(--ti-base-notice-tip-color);
    }

    .notice-time {
      float: right;
      font-size: 14px;
      color: #8a8e99;
    }

    &:hover,
    &:active {
      text-decoration: none;
      font-weight: 600;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }


    & .side-title {
      display: inline-block;
      width: 55%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: var(--ti-base-notice-content-color);
    }
  }
}

@media screen and (max-width: 1637px) {
  .notice-time {
    display: none;
  }
  .side-title {
    width: calc(100% - 85px) !important;
  }
}

@media screen and (max-width: 1439px) {
  .notice-time {
    display: inline-block;
  }
  .side-title {
    width: calc(100% - 130px) !important;
  }
}
