.t-pro-operations {
  display: flex;
  line-height: 60px;
  align-items: center;
  min-width: 180px;

  ::ng-deep .ti3-searchbox-input {
    font-size: 14px;
    color: #575d6c;
    font-family: PingFang SC, PingFang SC-PingFang SC;
    font-weight: normal;
  }

  .line-right {
    width: 1px;
    height: 18px;
    background-color: #dfe1e6;
    margin-right: 25px;
  }

  a {
    color: #202e54;
  }

  a:hover {
    color: var(--ti-base-color-brand-7);
  }

  .help-center {
    text-align: center;
    text-decoration: none;
    width: 30%;
    font-size: var(--ti-common-font-size-1);
  }

  .t-pro-header-search {
    margin-right: 30px;
    padding: 0 10px;
    border-radius: 16px;
    background-color: #eff2f8;
    width: 274px;
    height: 32px;
    border: none;
  }

  .tpicon-helping {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--ti-common-font-size-4);
    font-weight: 900;
  }

  .t-pro-operations-user {
    outline: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: var(--ti-common-font-size-1);
    width: 20%;

    t-pro-base-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .t-pro-language-wrapper {
    display: flex;
    outline: none;
    height: 60px;
    width: 30%;
    font-size: var(--ti-common-font-size-1);
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .language-text {
      min-width: 84px;
    }
    .slected-icon {
      margin: 0 0 0 8px;
      vertical-align: middle;
    }

    .language-icon {
      height: 18px;
      line-height: 18px;
    }

    .t-pro-change-language {
      width: 32px;
      height: 32px;
    }

    .tpicon-translation {
      font-size: var(--ti-common-font-size-3);
      font-weight: 900;
    }
  }

  .t-pro-operations-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    width: 15%;

    .email-icon {
      font-size: 16px;
      height: 16px;
    }
  }
}

.authenticated {
  color: #3ac295;
}

.item-width {
  min-width: 120px;
}

.logout {
  margin: 0 auto;
}

@media only screen and (max-width: 620px) {
  .t-pro-operations-user {
    .t-pro-user-name {
      display: none;
    }
  }
}
