.left-menu {
  top: 70px;
  box-shadow: none;

  .ti3-leftmenu-level1 {
    margin: 3px 0;
  }

  .ti3-leftmenu-level1-active-item:before, .ti3-leftmenu-level2-active:before {
    background-color: var(--ti-base-color-brand-6);
  }

  ::ng-deep .ti3-leftmenu-panel {
    color: var(--ti-common-color-text-primary);
    font-size: 14px;
  }

  ::ng-deep .ti3-leftmenu-level1-item.ti3-leftmenu-level1-active-item {
    background-color: var(--ti-common-color-bg-light-normal);

    &:hover {
      background-color: var(--ti-common-color-bg-light-normal);
      color: var(--ti-common-color-text-highlight);
    }
  }

  ::ng-deep .ti3-leftmenu-level1-item:hover {
    background-color: var(--ti-common-color-bg-white-emphasize);
    color: var(--ti-common-color-text-primary);
  }

  ::ng-deep .ti3-leftmenu-level1-label {
    padding-left: 28px;
  }

  ::ng-deep .ti3-leftmenu-level2.ti3-leftmenu-level2-active {
    background-color: var(--ti-common-color-bg-light-normal);

    &:hover {
      background-color: var(--ti-common-color-bg-light-normal);
      color: var(--ti-common-color-text-highlight);
    }
  }

  ::ng-deep .ti3-leftmenu-level2:hover {
    background-color: var(--ti-common-color-bg-white-emphasize);
    color: var(--ti-common-color-text-primary);
  }

  ::ng-deep .ti3-leftmenu-toggle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0 ,0 ,0 ,.10); 
  }

  .menu-item {
    display: flex;
    align-items: center;
    height: 20px;
  }
}

.menu-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  & .item-text {
    font-size: 14px;
  }
  ::ng-deep .ionicon {
    width: 1.3em;
    height: 1.3em;
  }
}