@import 'src/app/@shared/styles/common.scss';

.non-support-container {
  @include t-pro-product-card;
  height: 800px;
}

.non-support-content {
  display: flex;
  margin: 140px auto 0;
  line-height: 1.5;
  justify-content: center;
}

.non-support-content-container{
  padding-left: 30%;
}

.non-supportregion-image {
  display: inline-block;
  width: 240px;
  height: 240px;
  background: url('/assets/img/background/nonsupportregion.png') no-repeat;
  background-size: 100%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.non-supportregion-label {
  color: #252b3a;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: normal;
  line-height: 36px;
  font-family: PingFang SC, PingFang SC-PingFang SC;
}

.support-regionlist-container {
  width: 78%;
  margin-bottom: 40px;
  line-height: var(--ti-common-line-height-number);
}

.support-regionlist-label {
  width: 336px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-PingFang SC;
  color: #4e5969;
  line-height: 20px;
}

.support-regionlist-regions {
  display:flex;
  flex-wrap: wrap;
}

.support-regionlist-project {
  width: 150px;
  background: #e9edfa;
  border-radius: 2px 0px 0px 2px;
  margin-bottom: var(--ti-common-space-base);
  color: #252b3a;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-word;
  &:hover {
    background: #5e7ce0;
      color: #ffffff;
      section:after {
          border-top-color: var(--ti-common-color-text-link-hover);
      }
  }
}

.support-regionlist-icon {
  display: inline-block;
  padding-left: var(--ti-common-space-2x);
  &:after{
      content: '';
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid var(--ti-common-color-text-link);
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
  }
}

.support-regionlist-icon-transform:after{
  transform: rotate(180deg);
}
