@import '~@opentiny/ng-themes/theme-default.css';

.t-pro-base-backtop {
  width: 40px;
  height: 40px;
  position: fixed;
  cursor: pointer;
  z-index: 1;

  &-content {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ti-base-color-common-7);
    background-color: var(--ti-common-color-bg-white-normal);
    box-shadow: var(--ti-common-shadow-3-down);
    z-index: 10;
    font-size: var(--ti-common-font-size-2);
    svg {
      width: var(--ti-common-font-size-2);
      height: var(--ti-common-font-size-2);
      path {
        fill: var(--ti-base-color-common-7);
      }
    }
  }
}
