:host {
  position: relative;
  overflow: hidden;
}

.t-pro-nav {
  margin-left: 70px;
  height: 100%;
  display: flex;
  align-items: center;

  .t-pro-nav-menu {
    display: flex;

    .t-pro-nav-item {
      padding-right: 40px;
      cursor: pointer;

      &.t-pro-menu-hidden {
        display: none;
      }

      &>span {
        display: inline-block;
        line-height: 60px;
        white-space: nowrap;
      }

      .t-pro-nav-title:hover {
        color: var(--ti-base-color-brand-6);

        ti-icon {
          color: var(--ti-base-color-brand-6);
        }
      }

      .t-pro-nav-title.t-pro-active-title {
        color: var(--ti-base-color-brand-6);
        font-weight: 700;

        ti-icon {
          color: var(--ti-base-color-brand-6);
          font-weight: 700;
        }
      }
    }
  }
}

.t-pro-nav.t-pro-nav-left {
  width: 100%;
  margin-left: 0;
  align-items: flex-start;

  .t-pro-nav-menu {
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .t-pro-nav-item {
      padding-right: 0;

      &>span {
        width: 100%;
        line-height: 48px;
        text-align: center;
      }
    }
  }
}

.t-pro-nav-title {
  display: inline-block;
  line-height: 60px;
  white-space: nowrap;
  font-size: 14px;
  color: var(--ti-base-color-common);
  font-weight: 400;
}

.t-pro-base-dropdown-menu {
  min-width: 120px;

  &.t-pro-nav-left {
    left: 4px !important;
  }

  .t-pro-active-link {
    background-color: var(--ti-base-color-common-8) !important;
    color: var(--ti-common-color-text-white) !important;
  }

  &>li>span {
    height: 36px;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }
  }
}

.t-pro-nav-pack-item-wrapper {
  padding-right: 40px;
  cursor: pointer;

  .t-pro-nav-title.t-pro-active-title {
    color: var(--ti-base-color-brand-6);
    font-weight: 700;
  }
}
