.console-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
  fill: currentColor;
  line-height: 10px;
  cursor: pointer;
  
  ::ng-deep .ti3-overflow-padding {
    font-size: 14px;
    color: #575d6c;
  }
}


.divide-line {
  height: 18px;
  padding-left: 28px;
  border-left: 1px solid #dfe1e6;
}

.console-text {
  font-size: 14px;
  color: #202e54;
  min-width: 42px;
  margin-right: 10px;
}

.region-select {
  width: 180px;
  height: 32px;
  line-height: 32px;
  padding: 0 8px 0 2px;
  border-radius: 16px;
  border: none;
  background-color: #eff2f8 !important;
}

.region-icon {
  color: var(--ti-common-color-icon-normal);
  margin-right: var(--ti-common-space-base);
}
