.home-side-advertising-banner {
  position: relative;
  width: 100%;
}

.home-side-advertising-content {
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;

  >div {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .banner-img {
    padding-top: 20px;
    width: 100%;
    height: 127px;
  }
}
