.t-pro-helptop {
  display: inline-flex;
  align-items: center;

  .t-pro-help-label {
    display: inline-block;
    line-height: 16px;
  }

  .t-pro-help-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 12px;
    font-size: 20px;
    cursor: help;
    &:hover {
      color: #5e7ce0;
    }
  }
}
